@model shnYapi5._0.Entity.homeCards

@{
    ViewData["Title"] = "cardDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>@Html.DisplayFor(model => model.baslik)</h4>
    <hr />
    <dl class="row">

        <dd class = "col-sm-10" style="color:tomato;">
            @Html.DisplayFor(model => model.aciklama)
        </dd>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.icerik)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-warning">&larr; Anasayfa</a>
</div>
