
@{
    ViewData["Title"] = "Hizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        box-shadow: -1px 9px 40px -12px #808080;
    }
</style>
<div class="card">
    <div class="card-body" style="text-align:justify; font-size:x-large; font-family: 'Montserrat', sans-serif;">
        <h1 style="font-family: 'Montserrat', sans-serif; color:cadetblue;"><b>Hizmetler</b></h1>
        <p>
            <b>
                Firmamızın her türlü bina inşaatında kalite, üstün hizmet ve ekonomi prensibiyle
                çok sayıda referansı bulunmaktadır. Sanayi yapıları, Sosyal ve Ticari Yapılar,
                Konutlar, Turistik Yapılarda engin tecrübe ve makine parkıyla kısa sürede büyük
                işler başarmanın mutluluğunu yaşamaktayız.
            </b>
        </p>
        <p>
            <b>
                İnşaat sektörünün farklı alanlarında aynı üstün uzmanlık ve köklü deneyimle hizmet
                verirken, tamamladığımız her yeni projenin yaşama ve yaşamı hep daha iyiye götürmeyi
                hedefleyen kurumsal birikimimize yepyeni değerler kattığına inanıyoruz. En üst düzeyde
                müşteri memnuniyetini hedefleyerek hizmet ulaştırdığımız her yeni kurum ve her yeni
                birey de bu değerler zincirinin vazgeçilmez bir parçası olarak aramıza katılıyor.
            </b>
        </p>
        <p>
            <b>
                Biz geleceğin yeni hedeflerini birlikte güvenle karşılamayı taahhüt ediyoruz.
            </b>
        </p>
    </div>
</div>