@model shnYapi5._0.Entity.proje

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<h1>Edit</h1>

<h4>proje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @if (Model.imgYol != null)
            {
                <div class="form-group">
                    <img src="~/resimler/@Model.imgYol" class="img-thumbnail" />
                </div>
            }
            else
            {
                <div></div>
            }

            <div class="form-group">
                <input type="file" asp-for="imgFile" accept="image/*" />
                <span asp-validation-for="imgFile" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="projeID" />
            <div class="form-group">
                <label asp-for="projeAdi" class="control-label"></label>
                <input asp-for="projeAdi" class="form-control" />
                <span asp-validation-for="projeAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projeBasligi" class="control-label"></label>
                <input asp-for="projeBasligi" class="form-control" />
                <span asp-validation-for="projeBasligi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="icerik" class="control-label"></label>
                <input asp-for="icerik" class="form-control" />
                <span asp-validation-for="icerik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" /> |
                <a asp-action="List" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>



