@model shnYapi5._0.Entity.Haritalar

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<h1>Edit</h1>

<h4>Haritalar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="haritaID" />
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="x" class="control-label"></label>
                <input asp-for="x" class="form-control" />
                <span asp-validation-for="x" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="y" class="control-label"></label>
                <input asp-for="y" class="form-control" />
                <span asp-validation-for="y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aciklama" class="control-label"></label>
                <input asp-for="aciklama" class="form-control" />
                <span asp-validation-for="aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

