@model shnYapi5._0.Entity.maps

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<h1>Details</h1>

<div>
    <h4>maps</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stringURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stringURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mapID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
